# Xilinx Spartan3 Starter Board (Rev E) UCF file
# by Brian Szmyd
# Updated by Wimbo

# Clock
Net "clk"		LOC = "T9";


NET "led<0>"		LOC = "K12";
NET "led<1>"		LOC = "P14";
NET "led<2>"		LOC = "L12";
NET "led<3>"		LOC = "N14";
NET "led<4>"		LOC = "P13";
NET "led<5>"		LOC = "N12";
NET "led<6>"		LOC = "P12";
NET "led<7>"		LOC = "P11";


NET "ps2d"		LOC = "M15";
NET "ps2c"		LOC = "M16";

