//! **************************************************************************
// Written by: Map P.20131013 on Sat Nov 01 22:52:34 2014
//! **************************************************************************

SCHEMATIC START;
COMP "addr<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "reset_n" LOCATE = SITE "D9" LEVEL 1;
COMP "addr<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "addr<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "addr<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "addr<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "ena" LOCATE = SITE "A8" LEVEL 1;
COMP "data_rd<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "data_rd<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "data_rd<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "data_rd<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "data_rd<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "data_rd<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "data_rd<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "data_rd<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "rw" LOCATE = SITE "T5" LEVEL 1;
COMP "sda" LOCATE = SITE "P11" LEVEL 1;
COMP "scl" LOCATE = SITE "N10" LEVEL 1;
COMP "addr<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "addr<1>" LOCATE = SITE "T9" LEVEL 1;
SCHEMATIC END;

